/* TODO: Voeg hier je CSS styling toe */
/* Tip: Begin simpel! Je kunt later altijd mooiere styling toevoegen */

/* Voorbeeld om je op weg te helpen:
body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
}
*/